<h1><%=@player1.name%> vs. <%=@player2.name%></h1>
<%=@player2.name%>: <%=@player2.hp%>HP
<form action="/attack_player_2" method="post">
	<input type="submit" value="attack_player_2">
</form>
<p><%= @last_move %></p>