<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>hp
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>hp

It's <%=@game.current_turn.name%>'s turn!

<form action="/attack" method="post">
  <input type='submit' value='Attack'>
</form>
