<h1><%=@game.player1.name%> vs. <%=@game.player2.name%></h1>
<%=@game.player2.name%>: <%=@game.player2.hp%>HP
<form action="/attack_player_2" method="post">
	<input type="submit" value="attack_player_2">
</form>
<p><%= @last_move %></p>